.title-text{
    font: normal bold 35px/40px var(--roboto);
} */

.text-uppercase{
    text-transform: uppercase;
} *

.button{
    padding: 0.8rem 2.2rem;
    font:normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}
p.para{
    color: var(--text-color);
    font: normal 50 16px/25px var(--roboto);
}
